logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
### /Users/tac/.gitignore-boilerplates/Global/ensime.gitignore

# Ensime specific
.ensime
.ensime_cache/
.ensime_lucene/


